/* section {
    display: flex;
    justify-content: center;
    align-items: center;
} */

td {
    height: 15vh;
    width: 15vh;
    background-color: lightgray(200, 200, 200, 0.2);
    text-align: center;
    border: 1px solid white;
    border-collapse: collapse;
    cursor: pointer;
}

td:hover {
    border: 1px grey solid;
}

img {
    height: 100%;
    width: 100%;
}