.memory-board {
  display: grid;
  grid-template-columns: repeat(2, 150px); /* 2 colonnes de 150px de large pour smartphone */
  gap: 30px; /* Espacement entre les cartes */
  justify-content: center; /* Centrer les cartes horizontalement */
  margin: 25px 0;
  padding: 25px;

  border: 3px dotted red;
}


/* Conteneur de carte */
.flip-card {
  width: 150px;
  height: 150px;
  position: relative;
  border: 1px solid white;
  border-radius: 10px;
}

/* Faces avant et arrière de la carte */
.flip-card-front,
.flip-card-back
 {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: visibility O.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* overflow: hidden;  Empêche le débordement des images */ 
}

/* Images du recto et du verso */
.flip-card-front img,
.flip-card-back img
 {
  width: 100%;  /* L'image prend toute la largeur de la carte */
  height: 100%; /* L'image prend toute la hauteur de la carte */
  object-fit: contain; /* Ajuste l'image sans la déformer ni la couper */
}


/* *****************************************************
                MEDIA QUERIES
***************************************************** */
/* Responsive pour les petits écrans */
@media (max-width: 750px) {
  .memory-board {
    grid-template-columns: repeat(2, 150px);
    /* 2 cartes par ligne sur petits écrans */
    gap: 10px;
  }

  .flip-card {
    width: 100%;
    height: 150px;
    /* Maintenir une hauteur constante pour les petites cartes */
  }
}

/* Tablettes */
@media (min-width: 750px) and (max-width: 970px) {
  .memory-board {
    grid-template-columns: repeat(3, 150px);
    /* 3 cartes par ligne sur tablettes */
  }
}

/* Petits à moyens écrans */
@media (min-width: 970px) and (max-width: 1170px) {
  .memory-board {
    grid-template-columns: repeat(4, 150px);
    /* 4 cartes par ligne sur petits à moyens écrans */
  }
}

/* Grands écrans */
@media (min-width: 1170px) {
  .memory-board {
    grid-template-columns: repeat(4, 150px);
    /* 4 cartes par ligne sur grands écrans */
  }
}